<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<div th:include="index::imports"></div>
<body>
<div class="container table-container">
        <div th:if="${board.length == 5}" class="row">
            <table class="table table-bordered">
                <tr class="table-row" th:each="row, iterStat:${board}">
                    <td class="unchecked button-container" th:each="num, iterStat2:${row}">
                        <button class="table-buttons" th:id="${iterStat.index} + '' + ${iterStat2.index}" th:value="${iterStat.index}" th:name="${iterStat2.index}"></button>
                    </td>
                </tr>
            </table>
            <div>
                <p class="game-over"></p>
            </div>
        </div>
        <div th:if="${board.length == 10}" class="row">
            <table class="table table-bordered-10">
                <tr class="table-row" th:each="row, iterStat:${board}">
                    <td class="unchecked button-container" th:each="num, iterStat2:${row}">
                        <button class="table-buttons" th:id="${iterStat.index} + '' + ${iterStat2.index}" th:value="${iterStat.index}" th:name="${iterStat2.index}"></button>
                    </td>
                </tr>
            </table>
            <div>
                <p class="game-over-10"></p>
            </div>
        </div>
        <div th:if="${board.length == 15}" class="row">
            <table class="table table-bordered-15">
                <tr class="table-row" th:each="row, iterStat:${board}">
                    <td class="unchecked button-container" th:each="num, iterStat2:${row}">
                        <button class="table-buttons" th:id="${iterStat.index} + '' + ${iterStat2.index}" th:value="${iterStat.index}" th:name="${iterStat2.index}">
                        </button>
                    </td>
                </tr>
            </table>
            <div>
                <p class="game-over-15"></p>
            </div>
        </div>
    </div>
</body>
</html>