<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">

<div th:include="index::imports"></div>
<body>
<div class="container table-container">
    <div th:if="${board.length == 5}" class="row">
        <table class="table table-bordered">
            <tr class="table-row" th:each="row, iterStat:${board}">
                <td class="unchecked button-container" th:each="num, iterStat2:${row}">
                    <button class="table-buttons" th:id="${iterStat.index} + '_' + ${iterStat2.index}"
                            th:value="${iterStat.index}" th:name="${iterStat2.index}"></button>
                </td>
            </tr>
        </table>
        <div id="game-over-and-new-game" style="display: none;">
            <p class="game-over">
            <h1 class='game-over-message'>GAME OVER</h1>
            <form action='/'>
                <button type='submit' class='btn btn-primary active'>NEW GAME</button>
            </form>
            </p>
        </div>
        <div id="congratulation-and-new-game" style="display: none;">
            <h2 class='congratulation-message'>Congratulation!</h2>
            <p class='congratulation-message'>You survived the minefield!</p>
            <form action='/'>
                <button type='submit' class='btn btn-primary active'>NEW GAME</button>
            </form>
        </div>
    </div>
    <div th:if="${board.length == 10}" class="row">
        <table class="table table-bordered-10">
            <tr class="table-row" th:each="row, iterStat:${board}">
                <td class="unchecked button-container" th:each="num, iterStat2:${row}">
                    <button class="table-buttons" th:id="${iterStat.index} + '_' + ${iterStat2.index}"
                            th:value="${iterStat.index}" th:name="${iterStat2.index}"></button>
                </td>
            </tr>
        </table>
        <div id="game-over-10-and-new-game" style="display: none;">
            <p class="game-over-10">
            <h1 class='game-over-message'>GAME OVER</h1>
            <form action='/'>
                <button type='submit' class='btn btn-primary active'>NEW GAME</button>
            </form>
            </p>
        </div>
        <div id="congratulation-10-and-new-game" style="display: none;">
            <h2 class='congratulation-message'>Congratulation!</h2>
            <p class='congratulation-message'>You survived the minefield!</p>
            <form action='/'>
                <button type='submit' class='btn btn-primary active'>NEW GAME</button>
            </form>
        </div>
    </div>
    <div th:if="${board.length == 15}" class="row">
        <table class="table table-bordered-15">
            <tr class="table-row" th:each="row, iterStat:${board}">
                <td class="unchecked button-container" th:each="num, iterStat2:${row}">
                    <button class="table-buttons" th:id="${iterStat.index} + '_' + ${iterStat2.index}"
                            th:value="${iterStat.index}" th:name="${iterStat2.index}">
                    </button>
                </td>
            </tr>
        </table>
        <div id="game-over-15-and-new-game" style="display: none;">
            <p class="game-over-15">
            <h1 class='game-over-message'>GAME OVER</h1>
            <form action='/'>
                <button type='submit' class='btn btn-primary active'>NEW GAME</button>
            </form>
            </p>
        </div>
        <div id="congratulation-15-and-new-game" style="display: none;">
            <h2 class='congratulation-message'>Congratulation!</h2>
            <p class='congratulation-message'>You survived the minefield!</p>
            <form action='/'>
                <button type='submit' class='btn btn-primary active'>NEW GAME</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>